{% extends 'base.html.twig' %}

{% block title %}
  New Course
{% endblock %}

{% block main %}
  <h1>{{ 'administration.course.create'|trans }}</h1>

  <a href="{{ path('app_course_index') }}" class="btn btn-success">{{ 'global.btn_back'|trans }}</a>

  {{ include('course/_form.html.twig') }}
{% endblock %}
