{% extends 'base.html.twig' %}

{% block title %}
  Panel d'administration
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
  <script src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
{% endblock %}

{% block main %}
  <div class="container-fluid mb-3">
    <div>
      {% include '_components/_subnavbar.html.twig' with { 
        'choosenElement': null
        } 
      %}
    </div>

    <div class="mt-3">
        Choisissez la catégorie à gérer ci-dessus...
    </div>
  </div>
{% endblock %}

{% block js %}
  <!-- TinyMCE CDN -->
  <script src="https://cdn.tiny.cloud/1/a8r1baghsc0tvoi3mea8smbftcwaas0dv5duyputb14spmju/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>

  <script>
      tinymce.init({
          selector: 'textarea#form_faq_content',
          skin: 'bootstrap',
          plugins: 'lists, link, image, media',
          toolbar: 'h3 h4 h5 h6 bold italic strikethrough blockquote bullist numlist backcolor | link image media | removeformat help',
          // menubar: false,
          setup: (editor) => {
              // Apply the focus effect
              editor.on("init", () => {
                  editor.getContainer().style.transition = "border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out";
              });
              editor.on("focus", () => {
                  (editor.getContainer().style.boxShadow = "0 0 0 .2rem rgba(0, 123, 255, .25)"),
                  (editor.getContainer().style.borderColor = "#80bdff");
              });
              editor.on("blur", () => {
                  (editor.getContainer().style.boxShadow = ""),
                  (editor.getContainer().style.borderColor = "");
              });
          },
      });

    function showModalManagecours() {
        // if(document.querySelector('input[name="form_search_cours"]').value !== "") {
        $.ajax({
            url: "#",
            method: "post",
            data: {
                show_modal_manage_cours: 1,
                cours_actifs: document.querySelector('input[name="form_active_cours"]').checked,
                id_cohort: document.querySelector('#form_filter_cohort').value,
                search: document.querySelector('input[name="form_search_cours"]').value
            },
            success: function(r) {
                $("#modalManagecours .modal-content .modal-body").html(r);
            }
        });
        // } else {
        //     $("#modalManagecours .modal-content .modal-body").html("<p>Effectuez une recherche (mot-clé ou titre)...</p>");
        // }
    }

    function updateStatusCourse(cours_id, id_cohort) {
        var cours_active = ($("#cours_" + cours_id + "_" + id_cohort + " span > span").hasClass("cours-active") ? 0 : 1);

        $.ajax({
            url: "/api/v1/course-cohort/" + cours_id + "/" + id_cohort,
            method: "post",
            data: {
                update_status_cours: 1,
                cours_id: cours_id,
                id_cohort: id_cohort,
                cours_active: cours_active
            },
            success: function(r) {
                if (r == "ok") {
                    $("#cours_" + cours_id + "_" + id_cohort + " span > span").toggleClass("cours-active cours-inactive");
                }
            }
        });
    }
  </script>
{% endblock %}
