{% extends 'base.html.twig' %}

{% block title %}New QuizShare{% endblock %}

{% block body %}
    <h1>Create new QuizShare</h1>

    {{ include('quiz_share/_form.html.twig') }}

    <a href="{{ path('app_quiz_share_index') }}">back to list</a>
{% endblock %}
