@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Montserrat:wght@400;700&display=swap');

/*Redéfinition couleurs toolbar Symfony*/
.sf-toolbarreset,
.sf-toolbarreset .hide-button {
    background-color: var(--coul-ternaire) !important;
}

[data-theme="dark"] .sf-toolbarreset,
[data-theme="dark"] .sf-toolbarreset .hide-button {
    background-color: var(--col-primary-dark) !important;
}


/* Définition des couleurs */
:root {
    --coul-principale: #0077bd;
    --coul-secondaire: #1A1F37;
    --coul-ternaire: #FFFFFF;
    --coul-quaternaire: #163460;
    --col-primary: #f5f5f5;
    --col-secondary: #FFF;
    --col-primary-dark: #181818;
}

/* Fin définition des couleurs */
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--col-secondary) !important;
}

.fake-link:hover {
    background-color: #D9D9D9;
}

.fake-link {
    cursor: pointer;
}

/* Définition style light */
.bg-v1-primary {
    background-color: var(--col-primary) !important;
}

.btn-primary {
    background-color: var(--coul-principale) !important;
    color: var(--coul-ternaire) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-weight: 700 !important;
    text-transform: uppercase;
    background: linear-gradient(90deg, var(--coul-quaternaire), var(--coul-principale)) !important;
    -webkit-background-clip: text !important;
    background-clip: text !important;
    color: transparent !important;
}

.form-group .required:after {
    content: "*";
    color: red;
}

label,
p,
form input[type="submit"] {
    font-family: 'Roboto', serif;
    font-size: 16px;
}

.nav-link,
.dropdown-menu a,
span {
    color: var(--col-primary-dark) !important;
}

.link a:link,
.link a:visited {
    color: var(--coul-principale);
}

form input:not([type="submit"], form input[type="file"]):disabled,
form select:disabled,
textarea:disabled {
    background-color: black;
    opacity: 0.3;
}

/* form input:not([type="submit"], form input[type="file"]),
form select {
    height: 30px;
} */

.btn-primary {
    background-color: var(--coul-principale);
}

blockquote {
    padding: 15px;
    background: #eee;
    border-radius: 5px;
}

.splide02 .splide__arrows>.splide__arrow--prev {
    left: -2.5rem;
}

.splide02 .splide__arrows>.splide__arrow--next {
    right: -2.5rem;
}

.nav-tabs .nav-link.active {
    border-top: 5px solid var(--coul-principale);
    color: var(--col-primary-dark);
}

/* Fin définition style light */

/* Définition style dark */
[data-theme="dark"] {
    color: var(--col-primary) !important;
}

[data-theme="dark"] body {
    background-color: #121212 !important;
}

[data-theme="dark"] h1 {
    background: linear-gradient(90deg, var(--coul-principale), var(--col-primary)) !important;
    -webkit-background-clip: text !important;
    background-clip: text !important;
    color: transparent !important;
}

[data-theme="dark"] .border-light,
[data-theme="dark"] blockquote,
[data-theme="dark"] .card {
    border-color: var(--col-primary-dark) !important;
}

[data-theme="dark"] .bg-v1-primary,
[data-theme="dark"] .dropdown-menu,
[data-theme="dark"] blockquote,
[data-theme="dark"] .card {
    background-color: var(--col-primary-dark) !important;
}

[data-theme="dark"] .nav-link,
[data-theme="dark"] .dropdown-menu a,
[data-theme="dark"] span,
[data-theme="dark"] .card {
    color: var(--col-primary) !important;
}

[data-theme="dark"] .nav-tabs .nav-link.active {
    border-top: 5px solid var(--coul-principale);
    color: var(--col-secondary);
}

/* Fin définition style dark */

.form-switch .form-check-input {
    margin-left: 0.3em !important;
}

.form-switch .form-check-label {
    margin-left: 0.5em;
}

/* Start navbar search module */
#searchBox {
    border-radius: 55px;
    padding: 0.113rem 0.313rem;
    /* background: #264653; */
    display: flex;
    align-items: center;
}

.inputNav {
    font-size: 1.25rem;
    width: 0px;
    border: 0;
    background: transparent;
    outline: none;
    transition: 0.5s;
}

.active .inputNav {
    width: 20rem;
    padding: 0 0.313rem;
}

.small-pictures {
    width: 7vw;
    height: auto;
}

/* End navbar search module */


/* Flash Messages */
.alert-temporary {
    position: fixed;
    z-index: 1000;
    display: flex;
    align-items: center;
    padding: 20px;
    color: #fff;
    line-height: 1.3;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.35);
    max-width: 350px;
    margin: 20px;
    right: 0;
}

/* End flash Messages */

.tourguide-dialog,
.tourguide-dialog * {
    z-index: 1000000 !important;
    color: var(--col-primary-dark);
    background-color: var(--col-primary);
}

.tourguide-backdrop {
    z-index: 99999 !important;
    max-width: -webkit-fill-available;
}

#tg-dialog-progbar {
    background-color: var(--coul-principale) !important;
}

[data-theme="dark"] .tourguide-dialog,
[data-theme="dark"] .tourguide-dialog * {
    color: var(--col-primary) !important;
    background-color: var(--col-primary-dark) !important;
}

[data-theme="dark"] #tg-dialog-spinner,
[data-theme="dark"] #tg-dialog-close-btn {
    fill: var(--col-primary) !important;
}

.img-course {
    width: auto;
    /* object-fit: cover; */
}

#containerSearchResults {
    top: auto;
    margin-top: 3.9vh;
    width: 24.3vw;
    margin-right: 0.313rem;
    right: 10.313rem;
    background-color: var(--col-primary) !important;
}

[data-theme="dark"] #containerSearchResults {
    background-color: var(--col-primary-dark) !important;
}

#searchResults {
    max-height: 40vh;
    overflow: auto;
}

@media screen and (max-width: 800px) {
    #containerSearchResults {
        margin-top: 0;
        width: 24.3vw;
        margin-right: 0.313rem;
        right: 25.013rem;
    }
}

@media only screen and (max-width: 640px) {
    #containerSearchResults {
        margin-top: 0;
        width: 50vw;
        margin-right: -3rem;
        right: 10rem;
    }

    .img-course {
        max-height: 20vh;
    }
}

.admin-manage-imgs {
    cursor: pointer;
    height: 150px;
    width: 200px;
    display: contents;
}

.admin-manage-text {
    word-wrap: break-word;
}

.cours-inactive,
.quiz-inactive {
    opacity: 0.4;
}

.cours-active,
.quiz-active {
    opacity: 1;
}

iframe {
    border: 1px solid #282a3a;
    border-radius: 10px;
    width: 100%;
    height: calc(100vh - 232px);
}

.form-security {
    border-radius: 15px;
    padding: 3rem;
    margin-top: 2.5rem;
    border: 1px solid var(--col-primary-dark);
    background-color: var(--col-primary);
    box-shadow: 4px 5px 16px var(--bs-blue)
}

[data-theme="dark"] .form-security {
    border-radius: 15px;
    padding: 3rem;
    margin-top: 2.5rem;
    border: 1px solid var(--col-primary);
    background-color: var(--col-primary-dark);
    box-shadow: 5px 11px 16px var(--bs-blue);
}