@media (min-width: 450px) {
    #chatbot.main-card {
        width: 96%;
        max-width: 400px;
        height: calc(100% - 32px) !important;
        max-height: 600px;
        margin: 16px !important;
    }
}

#chatbot.collapsed {
    width: 48px !important;
    height: 48px !important;
    border-radius: 24px !important;
    margin: 16px !important;
}

#chatbot.main-card {
    background: var(--coul-ternaire);
    color: var(--coul-ternaire);
    width: 100%;
    height: calc(100% - 170px);
    margin: 0px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    right: 0;
    bottom: 50px;
    position: fixed;
    transition: all 0.5s;
    border: 1px solid var(--coul-ternaire);
    z-index: 1054;
}

[data-theme="dark"] #chatbot.main-card {
    background: var(--coul-foncee) !important;
    color: var(--coul-foncee) !important;
    border: 1px solid var(--coul-foncee) !important;
}

#chatbot_toggle {
    position: absolute;
    right: 0;
    border: none;
    height: 48px;
    width: 48px;
    background: var(--coul-principale);
    padding: 14px;
    color: var(--coul-ternaire);
}

/* [data-theme="dark"] #chatbot_toggle {
    color: var(--coul-foncee) !important;
} */

#chatbot_toggle:hover {
    background: var(--coul-claire);
    color: var(--coul-foncee);
}

[data-theme="dark"] #chatbot_toggle:hover {
    background: var(--coul-foncee) !important;
    color: var(--coul-ternaire) !important;
}

#chatbot .line {
    height: 1px;
    background-color: var(--coul-principale);
    width: 100%;
    opacity: 0.2;
}

#chatbot .main-title {
    background-color: var(--coul-principale);
    font-size: large;
    font-weight: bold;
    display: flex;
    height: 48px;
}

[data-theme="dark"] #chatbot .line {
    background-color: var(--coul-foncee) !important;
}

#chatbot .main-title>div {
    height: 48px;
    width: 48px;
    display: flex;
    margin-left: 8px;
}

#chatbot .main-title svg {
    color: var(--coul-ternaire) !important;
    height: 24px;
    margin: auto;
}

#chatbot .main-title>span {
    margin: auto auto auto 8px;
    color: var(--coul-ternaire) !important;
}

[data-theme="dark"] #chatbot .main-title>span {
    color: var(--coul-ternaire) !important;
}

#chatbot .chat-area {
    flex-grow: 1;
    overflow: auto;
    /* border-radius: 8px; */
    padding: 16px;
    display: flex;
    flex-direction: column;
    background-color: var(--coul-ternaire);
}

[data-theme="dark"] #chatbot .chat-area {
    background-color: var(--coul-foncee) !important;
}

#chatbot .input-message {
    padding: 8px 48px 8px 16px;
    flex-grow: 1;
    border: none;
}

#chatbot .input-message:focus {
    outline: none;
}

#chatbot .input-div {
    height: 48px;
    display: flex;
}

#chatbot .input-send {
    background: transparent;
    width: 48px;
    height: 48px;
    right: 0%;
    border: none;
    cursor: pointer;
}

#chatbot .input-send:hover {
    background: var(--coul-ternaire);
}

[data-theme="dark"] #chatbot .input-send:hover {
    background: var(--coul-foncee) !important;
}

#chatbot .input-send svg {
    fill: var(--coul-principale);
    margin: 11px 8px;
}

#chatbot .chat-message-div {
    display: flex;
    text-wrap: pretty;
}

#chatbot .chat-message-sent {
    margin: 8px 16px 8px 64px;
    padding: 8px 16px;
    animation-name: fadeIn;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 100ms;
    color: var(--coul-ternaire);
    border-color: var(--coul-ternaire);
    border-radius: 8px 8px 2px 8px;
    background-color: var(--coul-foncee);
}

[data-theme="dark"] #chatbot .chat-message-sent {
    color: var(--coul-ternaire) !important;
    border: 0.5px solid var(--coul-ternaire) !important;
    background-color: var(--coul-foncee) !important;
}

#chatbot .chat-message-received {
    margin: 8px 64px 8px 16px;
    padding: 8px 16px;
    animation-name: fadeIn;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 100ms;
    color: var(--coul-foncee);
    border-color: var(--coul-foncee);
    border-radius: 8px 8px 8px 2px;
    background-color: var(--coul-claire);
}

[data-theme="dark"] #chatbot .chat-message-received {
    color: var(--coul-foncee) !important;
    border-color: var(--coul-foncee) !important;
    background-color: var(--coul-ternaire) !important;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}