.fake-link {
    cursor: pointer;
    text-decoration: none;
    color: var(--col-primary-dark);
}

[data-theme="dark"] .fake-link {
    color: var(--col-primary);
}

.fake-link:hover {
    background-color: var(--col-primary-dark);
    color: var(--col-primary);
    filter: contrast(1.2);
}

[data-theme="dark"] .fake-link:hover {
    background-color: var(--coul-principale);
    color: var(--col-primary);
    filter: contrast(1.7);
}

.chat-message-right>div:nth-of-type(2) {
    background-color: var(--coul-principale);
    color: var(--col-primary);
}

.chat-message-left>div:nth-of-type(2) {
    background-color: var(--col-primary);
    color: var(--col-primary-dark);
}

.chat-messages {
    display: flex;
    flex-direction: column;
    max-height: 800px;
}

.chat-message-left,
.chat-message-right {
    display: flex;
    flex-shrink: 0;
}

.chat-message-right {
    flex-direction: row-reverse;
}

.py-3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.px-4 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
}

.flex-grow-0 {
    flex-grow: 0 !important;
}

.border-top {
    border-top: 1px solid #dee2e6 !important;
}

.list-group-item {
    padding: 0.25rem 1.5rem;
}

#liste_contacts {
    max-height: 68vh;
    overflow-y: auto;
}

.chat-offline::before {
    color: #e4606d;
}

.chat-online::before {
    color: #34ce57;
}

/* Hide the reply icon by default */
div[class^="chat-message-"] .fa-reply {
    display: none;
}

/* Display the reply icon when hovering over the chat message row */
.chat-message-right:hover .fa-reply,
.chat-message-left:hover .fa-reply {
    display: inline-block;
    cursor: pointer;
}

div[id^="msg-"] {
    transition: background-color 1s;
}