{% extends 'base.html.twig' %}

{% block title %}Edit Internship{% endblock %}

{% block body %}
    <h1>Edit Internship</h1>

    {{ include('internship/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_internship_index') }}">back to list</a>

    {{ include('internship/_delete_form.html.twig') }}
{% endblock %}
