{% extends 'base.html.twig' %}

{% block title %}New Internship{% endblock %}

{% block body %}
    <h1>Create new Internship</h1>

    {{ include('internship/_form.html.twig') }}

    <a href="{{ path('app_internship_index') }}">back to list</a>
{% endblock %}
