{% extends 'base.html.twig' %}

{% block title %}
  New Internship
{% endblock %}

{% block body %}
  <div class="container-fluid">
    <div class="row d-flex flex-start">
      <div class="col-3 mt-2 mb-2 text-start">
        <a href="{{ path('app_internship_index') }}" class="btn btn-success">{{ 'global.btn_back'|trans }}</a>
      </div>
      <div class="col-6 text-center mt-2 mb-2">
        <h1>{{ 'administration.internship.create'|trans }}</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-12">{{ include('internship/_form.html.twig') }}</div>
    </div>
  </div>
{% endblock %}
