{% extends 'base.html.twig' %}

{% block title %}New Quiz{% endblock %}

{% block main %}
    <div class="container-fluid">
        <div class="row d-flex flex-start">
            <div class="col-3 mt-2 mb-2 text-start">
                <a href="{{ path('app_quiz_index') }}" class="btn btn-success">{{ 'global.btn_back'|trans }}</a>
            </div>
            <div class="col-6 text-center mt-2 mb-2">
                <h1>Create new Quiz</h1>
            </div>
        </div>
        {{ include('quiz/_form.html.twig') }}
    </div>
{% endblock %}
