{# <input type="hidden" id="hidden_input_module" value="{{ course.link }}" />
<input type="search" class="form-control" id="course-search-kw" onchange="getCourses(document.querySelector('#hidden_input_module').value , this.value);" value="" placeholder="Votre recherche..." /> #}

<div class="row pt-5">
  <input type="search" class="form-control" id="module-search-kw" onkeyup="getModules(this.value);" placeholder="Votre recherche..." />
</div>
