{% extends 'base.html.twig' %}

{% block title %}
  Edit Trainee
{% endblock %}

{% block main %}
  <h1>Edit Trainee</h1>

  {{ include('trainee/_form.html.twig', { button_label: 'Update' }) }}

  <a href="{{ path('app_trainee_index') }}">back to list</a>

  {{ include('trainee/_delete_form.html.twig') }}
{% endblock %}
