{% extends "base.html.twig" %}

{% block title %}
    {{ 'global.exceptions.404.title'|trans }}
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
        <div class="col-12 mt-3">
            <h1 class="text-center">{{ 'global.exceptions.404.title'|trans }}</h1>
            <p class="text-center text-small">{{ 'global.exceptions.404.content'|trans }}</p>
        </div>
        </div>
    </div>
{% endblock %}